<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
    {% block title %}
        这是标题
    {% endblock %}
    </title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<!-- 压缩版的bootstrap.min.js包含了所有的Bootstrap数据API插件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
 <script>

    {# 获取URL路径中的参数 #}
       function GetUrlByParamName(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var URL =  decodeURI(window.location.search);
        var r = URL.substr(1).match(reg);
        if(r!=null){
            //decodeURI() 函数可对 encodeURI() 函数编码过的 URI 进行解码
            return  decodeURI(r[2]);
        }
        return null;
    }
    //页面加载后立即执行
    window.onload=function(){
//使用GetUrlByParamName()方法获取url中参数名为questionnaireName的参数内容
       
        var msg = GetUrlByParamName("msg");
        if (msg)
      {
        alert(msg);
      }
    };
  {# 用户角色、角色权限中的checkbox #}
    Edit = function () {
            var checked = $("input[type='checkbox']:checked").val([]);  //直接获取checkbox值的方法,将其放到数组中
            {#             var checked=$('input[name='+UserId+']:checked').val([]);#}
            var array = [];

            for (var i = 0; i < checked.length; i++) {
                array.push(checked[i].value)
            }
            document.getElementById('array').value = array;
        };

</script>

<style type="text/css">
    a{
        text-decoration: none;
    }
    .con{
        color: red;
    }
    .box {
        border: 2px dotted #ddd;
        height: 100px;
        width: 400px;
        margin-left: 80px;
        margin-right: 40px;
    }
    .b_div {
        margin-left: 160px;
        margin-top: 30px;
    }
    .file_div {
        margin-left: 120px;
        margin-top: 15px;
    }

</style>
</head>
<body>
<div>
{% if "view_item" in perm %}
    <a href="/item/">物料</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}

{% if "view_user" in perm %}
  <a href="/user/">用户管理</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
{% if "view_role" in perm %}
    <a href="/role/">角色管理</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
{% if "view_perm" in perm %}
      <a href="/perm/">权限管理</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
{% if "view_user_role" in perm %}
      <a href="/user_role/">用户角色</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
{% if "view_role_permission" in perm %}
     <a href="/role_permission/">角色权限</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
<a href="/logout/">退出登录</a>
<br>
</div>
<br>
{% block content %}
这是填充的部分
{% endblock %}
</body>
</html>