{% extends "base.html" %}
{% block title %}
    bom编辑
{% endblock %}
{% block content %}

 <form action="/bom/edit/"  method="post">
  <input type="text" name="id" value="{{ id }}" id="id" hidden>
  <label for="name">name:</label>
  <input type="text" name="name" value="{{ name }}" id="name" readonly>
     <label for="effective_start">effective_start:</label>
  <input type="date" name="effective_start" value="{{ effective_start }}" id="effective_start">
     <label for="effective_end">effective_end:</label>
  <input type="date" name="effective_end" value="{{ effective_end }}" id="effective_end">
     <label for="qty">qty:</label>
  <input type="text" name="qty" value="{{ qty }}" id="qty">

     <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="submit" value="提交"/>
 </form>
    <a href="/item/">
    <button> 返回 </button>
    </a>
{% endblock %}

<script>
     console.log({{ effective_start }})

</script>