<script>

</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
        <style>
        .con{
        color:red;
        }
    </style>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
 <script>
      function GetUrlByParamName(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var URL =  decodeURI(window.location.search);
        var r = URL.substr(1).match(reg);
        if(r!=null){
            //decodeURI() 函数可对 encodeURI() 函数编码过的 URI 进行解码
            return  decodeURI(r[2]);
        };
        return null;
    };
    //页面加载后立即执行
    window.onload=function(){
//使用GetUrlByParamName()方法获取url中参数名为questionnaireName的参数内容
       
        var msg = GetUrlByParamName("msg");
        if (msg)
      {
        alert(msg);
      }
    }

{#    function GetUl() {#}
{#    var ul=ul.getElementsByTagName("li");#}
{#    if(ul.length){#}
{#    return 1#}
{#    }else{#}
{#    return 0#}
{#    }#}
    }

</script>

</head>
<body>
<a href="/logout/">
<button> 退出登录 </button>
</a>
<ul>
    {% if "view_item" in perm %}
        <li><a href="/item/">物料</a></li>
        <br>
    {% endif %}

    {% if "view_user" in perm %}
      <li><a href="/user/">用户管理</a></li>
    <br>
    {% endif %}
    {% if "view_role" in perm %}
        <li><a href="/role/">角色管理</a></li>
    <br>
    {% endif %}
    {% if "view_perm" in perm %}
          <li><a href="/perm/">权限管理</a></li>
    <br>
    {% endif %}
    {% if "view_user_role" in perm %}
          <li><a href="/user_role/">用户角色</a></li>
    <br>
    {% endif %}
    {% if "view_role_permission" in perm %}
         <li><a href="/role_permission/">角色权限</a></li>
    {% endif %}
</ul>

</body>
</html>