<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
 
    <script>
        function ItemOnclick() {
        $.ajax({
        url: '/item/' ,
        type: 'application/json',
        method: 'get',
        success: function (data) {
            // 填充数据
            if (data.result) {
                console.log('data.result');
            }
        },
        error: function (err) {
            alert(err);
        }
    });
    }
    </script>
</head>
<body>

<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#item" data-toggle="tab" onclick="ItemOnclick()">
			 物料
		</a>
	</li>
	<li>
        <a href="#user" data-toggle="tab" onclick="">
            用户管理
        </a>
    </li>
	<li>
        <a href="#role" data-toggle="tab">
            角色管理
        </a>
    </li>
	<li>
        <a href="#perm" data-toggle="tab">
            权限管理
        </a>
    </li>
	<li>
        <a href="#user_role" data-toggle="tab">
            用户角色
        </a>
    </li>
	<li>
        <a href="#role_perm" data-toggle="tab">
            角色权限
        </a>
    </li>

</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="item">
        {% include "item.html" %}
	</div>
	<div class="tab-pane fade" id="user">
		{% include "user.html" %}
	</div>
	<div class="tab-pane fade" id="role">
		{% include "role.html" %}
	</div>
	<div class="tab-pane fade" id="perm">
		{% include "permission.html" %}
	</div>
	<div class="tab-pane fade" id="user_role">
		{% include "user_role.html" %}
	</div>
	<div class="tab-pane fade" id="role_perm">
		{% include "role_permission.html" %}
	</div>

</div>

</body>
</html>