{% extends "base.html" %}
{% block title %}
    物料删除
{% endblock %}
 {% block content %}
 <form action="/item/delete/" method="post">
  <label for="id">id:</label>
  <input type="text" name="id" value="{{ data.id }}" id="id" readonly>
  <label for="nr">nr:</label>
  <input type="text" name="nr" value="{{ data.nr }}" id="password" readonly>
  <label for="name">name:</label>
  <input type="text" name="name" value="{{ data.name }}" id="name" readonly>
  <label for="barcode">barcode:</label>
  <input type="text" name="barcode" value="{{ data.barcode }}" id="barcode" readonly>
    <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="button" value="提交" onclick="Edit()"/>
 </form>
    <a href="/item/">
    <button> 返回 </button>
    </a>
{% endblock %}

