{% extends "base.html" %}
{% block title %}
    物料
{% endblock %}
{% block content %}
    <a href="/item/add/">
<button> 添加 </button>
</a>
<table border="1">

      <tr>
        <th>物料id</th>
        <th>代码</th>
        <th>名称</th>
        <th>条码</th>
        <th>操作</th>
      </tr>

    {% for i in data %}
        <tr>

        <th><input value="{{ i.id }}"></th>
        <th><input value="{{ i.nr }}"></th>
        <th><input value="{{ i.name }}" ></th>
        <th><input value="{{ i.barcode }}" ></th>
        <th>
            <a href="/item/edit/?item_id={{ i.id }}">
            <button> 修改 </button>
            </a>
            <a href="/item/delete/?item_id={{ i.id }}">
            <button> 删除 </button>
            </a>

        </th>
      </tr>
    {% endfor %}
</table>
{{ error }}
{% endblock %}