{% extends "base.html" %}
{% block title %}
    角色编辑
{% endblock %}
{% block content %}
 <form action="/role/edit/"  method="post">
  <label for="id">id:</label>
  <input type="text" name="id" value="{{ data.id }}" id="id" readonly>
  <label for="name">name:</label>
  <input type="text" name="name" value="{{ data.name }}" id="name">
    <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="submit" value="提交"/>
 </form>
    <a href="/role/">
    <button> 返回 </button>
    </a>
{% endblock %}

