{% extends "base.html" %}
{% block title %}
    角色
{% endblock %}
{% block content %}
<a href="/role/add/">
<button> 添加 </button>
</a>
<table border="1">

      <tr>
        <th>角色id</th>
        <th>名称</th>
        <th>操作</th>
      </tr>

    {% for i in data %}
        <tr>

        <th><input value="{{ i.id }}" readonly></th>
        <th><input value="{{ i.name }}" readonly></th>
        <th>
            <a href="/role/edit/?id={{ i.id }}">
            <button> 修改 </button>
            </a>
            <a href="/role/delete/?id={{ i.id }}">
            <button> 删除 </button>
            </a>

        </th>
      </tr>
    {% endfor %}
</table>
{{ error }}
{% endblock %}