{% extends "base.html" %}
{% block title %}
    用户角色编辑
{% endblock %}
{% block content %}
    <h3>角色权限编辑</h3>
 <form  onsubmit="Edit()" action="/role_permission/edit/" method="post">
  <input type="hidden" name="id" value="{{ id }}" id="id">
 <br>
    <label for="role">角色:</label>
  <input type="text" name="role" value="{{ role }}" id="role">
 <br>
  <label for="permission">权限:</label>
     <th name="permission">
         {% for k,v in all_perm_dict.items %}

            {% if v in perms_list %}
                <input type="checkbox" value="{{ k }}" name="{{ id }}" checked>{{ v }}
            {% else %}
                <input type="checkbox" value="{{ k }}" name="{{ id }}">{{ v }}
            {% endif %}
         {% endfor %}

  <input type="hidden" name="array" value="" id="array">
</th>

    <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="submit" value="提交"/>
 </form>
{% endblock %}

</body>
