{% extends "base.html" %}
{% block title %}
    用户角色编辑
{% endblock %}
{% block content %}
 <form onsubmit="Edit()" action="/role_permission/edit/" method="post">
  <input type="hidden" name="id" value="{{ id }}" id="id">
 <br>
    <label for="role">角色:</label>
  <input type="text" name="role" value="{{ role }}" id="role">
 <br>
  <label for="permission">权限:</label>
     <th name="permission">
         {% for k,v in all_perm_dict.items %}

            {% if v in perms_list %}
                <input type="checkbox" value="{{ k }}" name="{{ id }}" checked>{{ v }}
            {% else %}
                <input type="checkbox" value="{{ k }}" name="{{ id }}">{{ v }}
            {% endif %}
         {% endfor %}

  <input type="hidden" name="perms_arr" value="" id="perms_arr">
</th>

    <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="submit" value="提交"/>
 </form>
{% endblock %}

</body>
{% block style %}

        Edit = function () {
            var checked = $("input[type='checkbox']:checked").val([]);  //直接获取checkbox值的方法,将其放到数组中
{#                         var checked=$('input[name='+UserId+']:checked').val([]);#}
            var perms_arr = [];

            for (var i = 0; i < checked.length; i++) {
                perms_arr.push(checked[i].value)
            }
            document.getElementById('perms_arr').value = perms_arr;
        }

{% endblock %}
