{% extends "base.html" %}
{% block title %}
    用户角色
{% endblock %}
   {% block content %}
 <form  action="/user_role/edit/" method="post">
  <input type="hidden" name="id" value="{{ id }}" id="id">
 <br>
    <label for="user">用户名:</label>
  <input type="text" name="user" value="{{ user }}" id="user">
 <br>
  <label for="role">角色:</label> &nbsp;&nbsp;&nbsp;
     <th name="role">
         {% for k,v in all_role_dict.items %}

            {% if v in roles_list %}
                <input type="checkbox" value="{{ k }}" name="{{ id }}" checked>{{ v }}
            {% else %}
                <input type="checkbox" value="{{ k }}" name="{{ id }}">{{ v }}
            {% endif %}
         {% endfor %}

  <input type="hidden" name="roles_arr" value="" id="roles_arr">
</th>

    <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="submit" value="提交" onclick="Edit()"/>
 </form>
{% endblock %}

{% block style %}
        Edit = function () {
            var checked = $("input[type='checkbox']:checked").val([]);  //直接获取checkbox值的方法,将其放到数组中
            {#             var checked=$('input[name='+UserId+']:checked').val([]);#}
            var roles_arr = [];

            for (var i = 0; i < checked.length; i++) {
                roles_arr.push(checked[i].value)
            }
            document.getElementById('roles_arr').value = roles_arr;
        }
{% endblock %}
