{% extends "base.html" %}
{% block title %}
    用户编辑
{% endblock %}
    {% block content %}
 <form action="/user/edit/"  method="post">
  <label for="id">id:</label>
  <input type="text" name="id" value="{{ data.id }}" id="id" readonly>
  <label for="username">用户名:</label>
  <input type="text" name="username" value="{{ data.username }}" id="username">
  <label for="password">密码:</label>
  <input type="text" name="password" value="{{ data.username }}" id="password">
  <label for="is_superuser">是否是管理员:</label>
  <input type="text" name="is_superuser" value="{{ data.is_superuser }}" id="is_superuser">
    <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="submit" value="提交"/>
 </form>
    <a href="/user/">
    <button> 返回 </button>
    </a>
{% endblock %}

