{% extends "base.html" %}
{% block title %}
    用户编辑
{% endblock %}
    {% block content %}
 <form action="/user/edit/password/"  method="post">
   <label for="id">id:</label>
  <input type="text" name="id" value="{{ id }}" id="id" readonly>
   <label for="username">用户名:</label>
  <input type="text" name="username" value="{{ username }}" id="username" readonly>
  <label for="password1">密码:</label>
  <input type="password" name="password1" value="{{ password1 }}" id="password1">
  <label for="password2">再次输入密码:</label>
  <input type="password" name="password2" value="{{ password2 }}" id="password2">
    <br>
    <span class="con">{{ error }}</span>
     <br>
    <input type="submit" value="提交"/>
 </form>
    <a href="/user/">
    <button> 返回 </button>
    </a>
{% endblock %}

