{% extends "base.html" %}
{% block title %}
    用户角色
{% endblock %}
    {% block content %}
<table border="1">
      <tr>
        <th>用户</th>
        <th>角色</th>
          {% if "change_user_role" in perm %}

        <th>操作</th>
          {% endif %}
      </tr>

    {% for i in data %}
        <tr>

        <th><input value="{{ i.user }}" readonly></th>
        <th>
            {% for k,v in all_role_dict.items %}

                    {% if v in i.role %}
                    <input type="checkbox" value="{{ k }}" name="{{ i.id }}" checked readonly>{{ v }}
                    {% else %}
                     <input type="checkbox" value="{{ k }}" name="{{ i.id }}" readonly>{{ v }}
                {% endif %}
            {% endfor %}

        </th>
        {% if "change_user_role" in perm %}

        <th>
            <a href="/user_role/edit/?user_id={{ i.id }}">
            <button> 编辑 </button>
            </a>

        </th>
        {% endif %}
      </tr>
    {% endfor %}
</table>
<br>
<a href="/user_role/?page=1"><button> 第一页 </button></a>
<a onclick="PrePage({{ page }},{{ total_pages }})"><button> 上一页 </button></a>

<input id="curPage" type="text" size="5" value="{{ page }}">

<a onclick="NextPage({{ page }},{{ total_pages }})"><button> 下一页 </button></a>
<a href="/user_role/?page={{ total_pages }}"><button> 最后一页 </button></a>

&nbsp;&nbsp;&nbsp;共{{ total_pages }}页
<br>

{% endblock %}
