{% extends "base.html" %}
{% block title %}
    用户
{% endblock %}
    <title></title>
{% block content %}
<table border="1">

      <tr>
        <th>用户id</th>
        <th>名称</th>
        <th>是否是管理员</th>
        <th>操作</th>
      </tr>

    {% for i in data %}
        <tr>

        <th><input value="{{ i.id }}" readonly></th>
        <th><input value="{{ i.username }}" readonly></th>
        <th><input value="{{ i.is_superuser }}" readonly ></th>
        <th>
            <a href="/user/edit/?user_id={{ i.id }}">
            <button> 修改 </button>
            </a>
            <a href="/user/delete/?user_id={{ i.id }}">
            <button> 删除 </button>
            </a>

        </th>
      </tr>
    {% endfor %}
</table>
{{ error }}
{% endblock %}