{% extends "base.html" %}
{% block title %}
    用户
{% endblock %}
    <title></title>
{% block content %}
<table border="1">

      <tr>
        <th>用户id</th>
        <th>名称</th>
        <th>是否是管理员</th>
      </tr>

    {% for i in data %}
        <tr>

        <th><input value="{{ i.id }}" readonly></th>
        <th><input value="{{ i.username }}" readonly></th>
        <th><input value="{{ i.is_superuser }}" readonly ></th>
        {% if "change_user" in perm %}
            <th>

            <a href="/user/edit/info/?id={{ i.id }}">
            <button> 修改用户 </button>
            </a>
            <a href="/user/edit/password/?id={{ i.id }}">
            <button> 修改密码 </button>
            </a>
            </th>
            {% endif %}
            {% if "delete_user" in perm %}
            <th>
                <a href="/user/delete/?id={{ i.id }}">
                <button> 删除 </button>
                </a>
            </th>
        {% endif %}


      </tr>
    {% endfor %}
</table>

<br>
<a href="/user/?page=1"><button> 第一页 </button></a>
<a onclick="PrePage({{ page }},{{ total_pages }})"><button> 上一页 </button></a>

<input id="curPage" type="text" size="5" value="{{ page }}">

<a onclick="NextPage({{ page }},{{ total_pages }})"><button> 下一页 </button></a>
<a href="/user/?page={{ total_pages }}"><button> 最后一页 </button></a>

&nbsp;&nbsp;&nbsp;共{{ total_pages }}页
<br>

{{ error }}
{% endblock %}