<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        bom
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Required Javascript -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style type="text/css">
        .box {
        border: 2px dotted #ddd;
        height: 100px;
        width: 400px;
        margin-left: 80px;
        margin-right: 40px;
    }
    .file_div {
        margin-left: 120px;
        margin-top: 15px;
    }
     .b_div {
        margin-left: 160px;
        margin-top: 30px;
    }
        .con{
        color: red;
    }
    .tab_input{
        width: 150px;
    }

</style>


<body>
        data:<br>
        {{ data }}
        <br>
        bom_query:<br>
        {{ bom_query }}
        <br>
        child_bom_list:<br>
        {{ child_bom_list }}<br>
        <h3>物料清单</h3>
        <div style="margin-left:350px;">
            <a href="/item/bom/add/">
                <button> 添加</button>
            </a>&nbsp;&nbsp;&nbsp;

        <a>
            <button data-toggle="modal" data-target="#myModal">查询</button>
        </a>&nbsp;&nbsp;&nbsp;
        <!--  定义模态框触发器，此处为按钮触发  -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
            <div class="modal-dialog">
                <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                <div class="modal-content">
                    <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                    <div class="btn-info modal-header">
                        <!--  模态框标题  -->
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!--  关闭按钮  -->
                        <h4>查询</h4>
                        <!--  标题内容  -->
                    </div>
                    <form action="/item/bom/" method="get">
                        <div class="modal-body">
                            <!--  模态框内容，我在此处添加一个表单 -->
                            <div class="form-horizontal" id="xxx">
                                <div>
                                    <select id="field" name="field">
                                        {% for k,v in select_field.items %}

                                            {% if query.0.field == k %}
                                                <option selected="selected" value="{{ k }}">{{ v }}</option>
                                            {% else %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endif %}

                                        {% endfor %}

                                    </select>&nbsp;&nbsp;&nbsp;
                                    <select id="op" name="op">
                                        {% for k,v in select_op.items %}

                                        {% if query.0.op == k %}
                                            <option selected="selected" value={{ k }}>{{ v }}</option>
                                        {% else %}
                                            <option value="{{ k }}">{{ v }}</option>
                                        {% endif %}

                                        {% endfor %}
                                    </select>&nbsp;&nbsp;&nbsp;
                                    <input type="text" value="{{ query.0.data }}" id="data" name="data"/>&nbsp;&nbsp;&nbsp;
                                </div>
                                <div>
                                   <select id="field" name="field">
                                        {% for k,v in select_field.items %}

                                            {% if query.1.field == k %}
                                                <option selected="selected" value={{ k }}>{{ v }}</option>
                                            {% else %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endif %}

                                        {% endfor %}

                                    </select>&nbsp;&nbsp;&nbsp;
                                    <select id="op" name="op">
                                        {% for k,v in select_op.items %}

                                            {% if query.1.op == k %}
                                                <option selected="selected" value={{ k }}>{{ v }}</option>
                                            {% else %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endif %}

                                        {% endfor %}


                                    </select>&nbsp;&nbsp;&nbsp;
                                    <input type="text" value="{{ query.1.data }}" id="data" name="data"/>&nbsp;&nbsp;&nbsp;

                                </div>
                                <div>
                                   <select id="field" name="field">
                                        {% for k,v in select_field.items %}

                                            {% if query.2.field == k %}
                                                <option selected="selected" value={{ k }}>{{ v }}</option>
                                            {% else %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endif %}

                                        {% endfor %}

                                    </select>&nbsp;&nbsp;&nbsp;
                                    <select id="op" name="op">
                                        {% for k,v in select_op.items %}

                                        {% if query.2.op == k %}
                                            <option selected="selected" value={{ k }}>{{ v }}</option>
                                        {% else %}
                                            <option value="{{ k }}">{{ v }}</option>
                                        {% endif %}

                                        {% endfor %}


                                    </select>&nbsp;&nbsp;&nbsp;
                                    <input type="text" value="{{ query.2.data }}" id="data" name="data"/>&nbsp;&nbsp;&nbsp;

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info" id="search">查询</button>

                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <a>
            <button data-toggle="modal" data-target="#myModal1">上传</button>
        </a>&nbsp;&nbsp;&nbsp;
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
            <div class="modal-dialog">
                <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                <div class="modal-content">
                    <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                    <div class="btn-info modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>导入Excel文件</h4>
                    </div>
                    <div> 文件第一行包含字段名</div>
                    <div class="modal-body">
                        <!--  模态框内容，我在此处添加一个表单 -->
                        <div class="form-horizontal box">
                            <form action="/item/bom/" method="post" enctype="multipart/form-data">
                                <input type="file" name="fileUpload" class="file_div"/>
                                <input type="submit" value="上传文件" class="btn btn-info b_div"/>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <span class="con">{{ error }}</span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>

                </div>
            </div>
        </div>
            <a href="/item/bom/?page=1&format=spreadsheet{{ query_url }}">
            <button> 下载</button>&nbsp;&nbsp;&nbsp;
        </a>
            <a href="/item/bom/?page=1&all=true{{ query_url }}">
            <button>所有数据</button>&nbsp;&nbsp;&nbsp;
        </a>
            <a href="/item/bom/?page=1&expire=true{{ query_url }}">
            <button>有效期内数据</button>&nbsp;&nbsp;&nbsp;
        </a>

    </div>
        <br><br>
        {% if parent %}
        <div id="tree" style="width: 300px;height: 400px;float: left;margin-right: 50px;"></div>
        <div style="float: left;">
            <table>
                <tr>
                    <th>物料</th>
                    <th>代码</th>
                    <th>生效开始</th>
                    <th>生效结束</th>
                    <th>数量</th>
                    <th>附件</th>
                    <th>操作</th>
                </tr>
                <th><input value="{{ parent.item.nr }}" readonly class="tab_input"></th>
                <th><input value="{{ parent.nr }}" readonly class="tab_input"></th>
                <th><input value="{{ parent.effective_start }}" readonly class="tab_input"></th>
                <th><input value="{{ parent.effective_end }}" readonly class="tab_input"></th>
                <th><input value="{{ parent.qty }}" readonly class="tab_input"></th>
                <th>
                <a href="/upload/?id={{ parent.id }}&content_parameter=bommodel">
                    <button>查看附件</button>
                </a>
                </th>
                <th>
                    <a href="/item/bom/edit/?id={{ parent.id }}">
                        <button> 修改</button>
                    </a>
                </th>
                <th>
                    <a>
                        <button data-toggle="modal" data-target="#myModal2"> bom计算</button>
                    </a>
                </th>
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
            <div class="modal-dialog">
                <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
                <div class="modal-content">
                    <div class="btn-info modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>bom 计算</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <form action="/item/bom/calculate/?id={{ parent.id }}&qty={{ qty }}" method="get"
                                  enctype="multipart/form-data">
                                  <label for="item">物料:</label>
                                  <input type="text" name="nr" value="{{ parent.nr }}" id="item" readonly>&nbsp;&nbsp;&nbsp;
                                  <input type="text" name="id" value="{{ parent.id }}" id="id" hidden>&nbsp;&nbsp;&nbsp;
                                  <label for="qty">物料数量:</label>
                                  <input type="text" name="qty" value="" id="qty">&nbsp;&nbsp;&nbsp;
                                <input type="submit" value="计算" class="btn btn-info"/>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <span class="con">{{ error }}</span>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
        </table>

    <br><br><br>
        {% if child_bom_list %}
        <table>
        <tr>
            <th>组成物料</th>
            <th>代码</th>
            <th>生效开始</th>
            <th>生效结束</th>
            <th>数量</th>
            <th>附件</th>
            <th>操作</th>
        </tr>
        {% for i in child_bom_list %}
            <tr>

            <th><input value="{{ i.item }}" readonly class="tab_input"></th>
            <th><input value="{{ i.nr }}" readonly class="tab_input"></th>
            <th><input value="{{ i.effective_start }}" readonly class="tab_input"></th>
            <th><input value="{{ i.effective_end }}" readonly class="tab_input"></th>
            <th><input value="{{ i.qty }}" readonly class="tab_input"></th>
            <th>
                <a href="/upload/?id={{ i.id }}&content_parameter=bommodel">
                    <button>查看附件</button>
                </a>
            </th>
                <th>
                    <a href="/item/bom/edit/?id={{ i.id }}">
                        <button> 修改</button>
                    </a>
                </th>

                <th>
                    <a href="/item/bom/delete/?id={{ i.id }}">
                        <button> 删除</button>
                    </a>
                </th>
        {% endfor %}
    </table>
{% endif %}
</div>
<br><br><br><br><br><br><br>
</div>
<div style="float: left;margin-left: 350px">
    <br><br><br><br><br><br><br><br>
    <a href="/item/bom/?page=1{{ query_url }}">
        <button> 第一页</button>
    </a>
    <a href="/item/bom/?page={{ pg.prev }}{{ query_url }}">
        <button> 上一页</button>
    </a>
    <input id="curPage" type="text" size="5" value="{{ pg.page }}">
    <a href="/item/bom/?page={{ pg.next }}{{ query_url }}">
        <button> 下一页</button>
    </a>

    <a href="/item/bom/?page={{ pg.total_pages }}{{ query_url }}">
        <button> 最后一页</button>
    </a>

    &nbsp;&nbsp;&nbsp;共{{ pg.total_pages }}页
    </div>
<br>
    <div class="con"> {{ error }} </div>


<script>
        function getTree() {
            var tree = {{ data | safe}};
            console.log(tree);
            return tree
        }

        $('#tree').treeview({
            data: getTree(),
            color: "#428bca",
            collapseIcon: "glyphicon glyphicon-minus",//可收缩的节点图标
            expandIcon: "glyphicon glyphicon-plus",  //设置列表上中有子节点的图标
            highlightSearchResults: true,//是否高亮搜索结果 默认true
            highlightSelected: true,     //是否选中高亮显示
            onhoverColor: "#f5f5f5",    //鼠标滑过的颜色
            levels: 0,                 //设置初始化展开几级菜单 默认为2
            selectedIcon: 'glyphicon glyphicon-tint',
            showBorder: true,                //是否显示边框
            showCheckbox: false,              //是否显示多选框
            showTags: true, //显示徽章
            enableLinks: true
        });
    </script>
</body>
</html>
