{% extends "base.html" %}
{% block title %}
    bom添加
{% endblock %}
{% block content %}
    <h3>bom添加</h3>
    <br><br>
 <form  action="/item/bom/add/" method="post">
 <label for="item">物料:</label>
  <select name="item" id="item">
    {% for k,v in item.items %}
        {% if item_id == k %}
        <option selected="selected" value="{{ k }}">{{ v }}</option>
        {% else %}
        <option value="{{ k }}">{{ v }}</option>
        {% endif %}
    {% endfor %}
    </select>&nbsp;&nbsp;&nbsp;
 <label for="parent">父类:</label>
  <select name="parent" id="parent">
    <option value=""> ----- </option>
    {% for k,v in parent.items %}
        {% if parent_id == k %}
        <option selected="selected" value="{{ k }}">{{ v }}</option>
        {% else %}
        <option value="{{ k }}">{{ v }}</option>
        {% endif %}
    {% endfor %}
    </select>&nbsp;&nbsp;&nbsp;
 <label for="nr">代码:</label>
 <input type="text" name="nr" value="{{ nr }}" id="nr">&nbsp;&nbsp;&nbsp;
      <label for="effective_start">effective_start:</label>

  <input type="date" name="effective_start" value="{{ effective_start }}" id="effective_start">&nbsp;&nbsp;&nbsp;
     <label for="effective_end">effective_end:</label>
  <input type="date" name="effective_end" value="{{ effective_end }}" id="effective_end">&nbsp;&nbsp;&nbsp;
     <label for="qty">qty:</label>
  <input type="text" name="qty" value="{{ qty }}" id="qty">&nbsp;&nbsp;&nbsp;

  <br>
    <span class="con">{{ error }}</span>
     <br><br>
    <input type="submit" value="提交"  style="margin-left: 50px;margin-right: 20px;float: left"/>
 </form>
    <a href="/bom/" style="margin-left: 20px; margin-right: 20px; float: left">
    <button> 返回 </button>
    </a>
{% endblock %}